/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

#text {
    text-align: right;
}

.minor-section{
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #495641;
    background-color: #aab9a2;
}

body {
    background-color: #ebf9e4;
}

#content {
    background-color: #495641
  }
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2a3125;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2a3125;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2a3125;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2a3125;
}

#output {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#2a3125;
    margin-bottom: 10px;
}