/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

.special {
    background-color: #2a3125 !important;
    border: solid 5px #aab9a2 !important;
    font-size: larger !important;
    color:#aab9a2 !important;
}

#challenge {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #495641;
    background-color: #aab9a2;
}

#problems {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #495641;
    background-color: #aab9a2;
}

#results {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #495641;
    background-color: #aab9a2;
}

body {
    background-color: #ebf9e4;
}

#content {
    background-color: #495641
  }
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2a3125;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2a3125;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2a3125;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2a3125;
}